{# General errors of the form #}
{{ form_errors(form) }}

{# Manual and exploded generation: #}
<div class="form-group">

    {# Label. #}
    {{ form_label(form.registered, "registered", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    <div class="col-sm-10">

        {# Display errors for this field. #}
        {{ form_errors(form.registered) }}

        {# Input #}
        {{ form_widget(form.registered, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group">

    {{ form_label(form.abstention, "abstention", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
	
    <div class="col-sm-10">
        {{ form_errors(form.abstention) }}

        {{ form_widget(form.abstention, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group">

    {{ form_label(form.voters, "voters", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    <div class="col-sm-10">
        {{ form_errors(form.voters) }}

        {{ form_widget(form.voters, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group">

    {{ form_label(form.blankAndInvalidVotes, "blank_and_invalid_votes", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
	
    <div class="col-sm-10">
        {{ form_errors(form.blankAndInvalidVotes) }}

        {{ form_widget(form.blankAndInvalidVotes, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group">

    {{ form_label(form.blankVotes, "blank_votes", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
	
    <div class="col-sm-10">
        {{ form_errors(form.blankVotes) }}

        {{ form_widget(form.blankVotes, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group">

    {{ form_label(form.invalidVotes, "invalid_votes", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
	
    <div class="col-sm-10">
        {{ form_errors(form.invalidVotes) }}

        {{ form_widget(form.invalidVotes, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group">

    {{ form_label(form.votesCast, "votes_cast", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
	
    <div class="col-sm-10">
        {{ form_errors(form.votesCast) }}

        {{ form_widget(form.votesCast, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

{{ form_rest(form) }}