{% extends 'base.html.twig' %}

{% block title %}
	{% if city is not null %}
	    {{ "title_app_name"|trans({"%app_name%": parent(), "%title%": city.fullName}) }}
    {% else %}
	    {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="col-md-6">
        {% if city is null %}
            <h3>
                {{ "unknown_city"|trans }}
            </h3>
		{% else %}
            <h3>
		        {{ city.fullName }}
            </h3>
            <ul>
				{% for election in city.elections %}
					<li><a href="{{ url("app_election_city", {"election_id": election.id, "city_id": city.id, "name": election.urlName~"-"~city.urlName}) }}">{{ election.name }}</a></li>
				{% endfor %}
            </ul>
        {% endif %}
    </div>
</div>	
{% endblock %}
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}