{% extends 'base.html.twig' %}

{% block title %}
	{% if department is not null %}
	    {{ department.name }}
    {% else %}
	    {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="col-md-6">
        {% if department is null %}
            <h3>
                {{ "unknown_department"|trans }}
            </h3>
		{% else %}
            <h3>
		        {{ department.name }}
            </h3>
            <ul>
				{% for election in department.elections %}
					<li><a href="{{ url("app_election_department", {"election_id": election.id, "department_id": department.id}) }}">{{ election.name }}</a></li>
				{% endfor %}
            </ul>
        {% endif %}
    </div>
</div>	
{% endblock %}
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}