{% extends 'base.html.twig' %}

{% block title %}
	{% if election is not null and city is not null %}
        {{ "election_city"|trans({"%election%": election.name, "%city%": city.fullName}) }}
    {% else %}
	    {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="{{ url("app_elections") }}">{{ "elections"|trans }}</a></li>
		{% if election is null %}
			<li class="active">{{ "unknown_election"|trans }}</li>
		{% elseif city is null %}
    		<li><a href="{{ url("app_election", {"id": election.id, "name": election.urlName}) }}">{{ election.name }}</a></li>
			<li class="active">{{ "unknown_city"|trans }}</li>
		{% else %}
    		<li><a href="{{ url("app_election", {"id": election.id, "name": election.urlName}) }}">{{ election.name }}</a></li>
    		{% if city.department is not null %}
    			<li><a href="{{ url("app_election_department", {"election_id": election.id, "department_id": city.department.id, "name": election.urlName~"-"~city.department.urlName}) }}">{{ city.department.name }}</a></li>
    		{% endif %}
    		<li class="active">{{ city.fullName }}</li>
		{% endif %}
	</ol>
	
	{% if previousElection is not null or nextElection is not null %}
		<nav aria-label="">
			<ul class="pager">
				{% if previousElection is not null %}
					<li class="previous"><a href="{{ url("app_election_city", {"election_id": previousElection.id, "city_id": city.id, "name": previousElection.urlName~"-"~city.urlName}) }}"><span aria-hidden="true">&larr;</span> {{ previousElection.name }}</a></li>
				{% endif %}
				{% if nextElection is not null %}
					<li class="next"><a href="{{ url("app_election_city", {"election_id": nextElection.id, "city_id": city.id, "name": nextElection.urlName~"-"~city.urlName}) }}">{{ nextElection.name }} <span aria-hidden="true">&rarr;</span></a></li>
				{% endif %}
			</ul>
		</nav>
	{% endif %}
	
	{% if city is null %}
		<h3>{{ "unknown_city"|trans }}</h3>
	{% elseif election is null %}
		<h3>{{ city.name }}</h3>
		<p>{{ "unknown_election"|trans }}</p>
	{% else %}
		<h3>{{ "election_city"|trans({"%election%": election.name, "%city%": city.fullName}) }}</h3>
		
		{% for result in results %}
			<hr>
			<div class="row">
        		<div class="col-md-6">
        			
        			<h4>{{ ("round_"~result.round.roundNumber)|trans }}</h4>
        			
        			{% if result is not null %}
            			<table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{{ "number"|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            	{% if result.registered is not null %}
                            		<tr>
                            			<td>{{ "registered"|trans }}</td>
                            			<td>{{ result.registered|number_format }}</td>
                            		</tr>
                        		{% endif %}
                            	{% if result.voters is not null %}
                            		<tr>
                            			<td>{{ "voters"|trans }}</td>
                            			<td>
                            				{% if result.registered is not empty %}
                            			        {{ "percent_and_value"|trans({"%value%": result.voters|number_format, "%percent%": (result.voters*100/result.registered)|number_format(1, null, " ")}) }}
                            			    {% else %}
                            			    	{{ result.voters|number_format }}
                            			   	{% endif %}
        								</td>
                            		</tr>
                        		{% endif %}
                            	{% if result.votesCast is not null %}
                            		<tr>
                            			<td>{{ "votes_cast"|trans }}</td>
                            			<td>{{ result.votesCast|number_format }}</td>
                            		</tr>
                        		{% endif %}
                            	{% if result.blankAndInvalidVotes is not null %}
                            		<tr>
                            			<td>{{ "blank_and_invalid_votes"|trans }}</td>
                            			<td>{{ result.blankAndInvalidVotes|number_format }}</td>
                            		</tr>
                            	{% else %}
                            		{% if result.blankVotes is not null %}
                                		<tr>
                                			<td>{{ "blank_votes"|trans }}</td>
                                			<td>{{ result.blankVotes|number_format }}</td>
                                		</tr>
                            		{% endif %}
                                	{% if result.invalidVotes is not null %}
                                		<tr>
                                			<td>{{ "invalid_votes"|trans }}</td>
                                			<td>{{ result.invalidVotes|number_format }}</td>
                                		</tr>
                            		{% endif %}
                        		{% endif %}
                            	{% if result.abstention is not null %}
                            		<tr>
                            			<td>{{ "abstention"|trans }}</td>
                            			<td>
                            				{% if result.registered is not empty %}
                            			        {{ "percent_and_value"|trans({"%value%": result.abstention|number_format, "%percent%": (result.abstention*100/result.registered)|number_format(1, null, " ")}) }}
                            			    {% else %}
                            			    	{{ result.abstention|number_format }}
                            			   	{% endif %}
                            			</td>
                            		</tr>
                        		{% endif %}
                            </tbody>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>{{ "candidate"|trans }}</td>
                                    <td>{{ "voices"|trans }}</td>
                                    <td>{{ "percentage"|trans }}</td>
                                </tr>
                        	</thead>
                            {% if result.scores.count != 0 %}
                            
                                {% for score in result.scores %}
                                    <tr>
                                        <td>
                                            <a href="{{ url("app_candidate", {"id": score.candidacy.candidate.id, "name": score.candidacy.candidate.urlName}) }}">{{ score.candidacy.candidate.firstname~" "~score.candidacy.candidate.lastname }}</a>
                                            <br/>
                                            <em>{{ score.candidacy.nuance.name }}</em>
                                        </td>
                                        <td>
                                            {{ score.voices|number_format }}
                                        </td>
                                        <td>
                                        	{% if result.votesCast != null %}
                                                {{ (score.voices*100/result.votesCast)|number_format(2, null, " ") }} %
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                {% for candidacy in result.round.candidacies %}
                                    <tr>
                                        <td>
                                            {{ candidacy.candidate.firstname~" "~candidacy.candidate.lastname }}
                                            <br/>
                                            <em>{{ candidacy.nuance.name }}</em>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                    {% endif %}
        		</div>
        		
                <div class="col-md-6">
                    {% if result != null
                        and result.scores.count > 0
                        and result.votesCast > 0 %}
                        <div id="chartRound{{ loop.index }}" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                    {% endif %}
                </div>
			</div>
	    {% endfor %}
    {% endif %}
</div>
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
<script type="text/javascript">
    {% if election is not null %}
        {% for result in results %}
        	{% if result != null and result.votesCast > 0 %}
                $(function () {
                    // Create the chart
                    $('#chartRound{{ loop.index }}').highcharts({
                        chart: {
                            type: 'pie'
                        },
                        title: {
                            text: '{{ "results"|trans }}'
                        },
                        subtitle: {
                            text: '{{ ("round_"~result.round.roundNumber)|trans }}'
                        },
            		    exporting: {
							enabled: false
           				},
                       credits: {
							enabled: false
                       },
                        plotOptions: {
                            series: {
                                dataLabels: {
                                    enabled: true,
                                    format: '{point.name} : {point.y:.1f} %'
                                }
                            }
                        },
            
                        tooltip: {
                            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                            pointFormat: '<span style="color:{point.color}">{point.name}</span> : <b>{point.y:.2f}%</b> des voix<br/><span style="font-size:11px"><em>{point.nuance}</em></span><br/>'
                        },
                        series: [{
                            name: '{{ "candidate"|trans }}',
                            colorByPoint: true,
                            data: [
            
                                {% set resultMin = 5 %}
                                {% set smallCandidates = 0 %}
                                {% set totalVoices = 0 %}
                                {% set iScores = 0 %}
            
                                {% for score in result.scores %}

									{% set iScores = iScores + 1 %}
                                    {% set totalVoices = totalVoices + score.voices %}
                                    
                                    {% if (score.voices*100/result.votesCast) >= resultMin or (iScores == result.scores|length and smallCandidates == 0) %}
                                        {
                                        	color: '{{ score.candidacy.nuance.color }}',
                                            name: '{{ score.candidacy.candidate.firstname~" "~score.candidacy.candidate.lastname  }}',
                                            y: {{ (score.voices*100/result.votesCast)|number_format(2, null, " ") }},
                                            nuance: '{{ score.candidacy.nuance.name }}',
                                            drilldown: null
                                        },
                                    {% else %}
                                        {% set smallCandidates = smallCandidates + (score.voices*100/result.votesCast) %}
                                    {% endif %}
                                {% endfor %}

                                {% if totalVoices != result.votesCast %}
                                    {
                                    	color: 'grey',
                                        name: '{{ "various"|trans }}',
                                        y: {{ ((result.votesCast - totalVoices)*100/result.votesCast)|number_format(2, null, " ") }},
                                        drilldown: null
                                    },
                                {% endif %}
            
                                {% if smallCandidates != 0 %}
                                    {
                                        name: '{{ "other_candidates"|trans }}',
                                        y: {{ smallCandidates|number_format(2, null, " ") }},
                                        drilldown: 'other'
                                    },
                                {% endif %}
                            ]
                        }],
                        drilldown: {
                            series: [
                                {% if smallCandidates != 0 %}
                                    {
                                        name: '{{ "other_candidates"|trans }}',
                                        id: 'other',
                                        data: [
                                            {% for score in result.scores %}
                                                {% if (score.voices*100/result.votesCast) < resultMin %}
                                                    {
                                                    	color: '{{ score.candidacy.nuance.color }}',
                                                        name: '{{ score.candidacy.candidate.firstname~" "~score.candidacy.candidate.lastname }}',
                                                        y: {{ (score.voices*100/result.votesCast)|number_format(2, null, " ") }},
                                                        nuance: '{{ score.candidacy.nuance.name }}',
                                                        drilldown: null
                                                    },
                                                {% endif %}
                                            {% endfor %}
                                        ]
                                    },
                                {% endif %}
                            ]
                        }
                    });
                });
			{% endif %}
        {% endfor %}
    {% endif %}
</script>
{% endblock %}