{% extends 'base.html.twig' %}

{% block title %}
	{% if search is empty %}
	    {{ "title_app_name"|trans({"%app_name%": app_name, "%title%": "search"|trans}) }}
	{% else %}
	    {{ "title_search"|trans({"%app_name%": app_name, "%search%": search}) }}
	{% endif %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="col-md-6">
        <h3>
            {{ "results"|trans }}
        </h3>
        {% if cities|length == 0 and departments|length == 0 and elections|length == 0 %}
        	<p>
        		{{ "no_result_found"|trans }}
        	</p>
        {% else %}
            
        	{% if elections|length > 0 %}
        		<h4>{{ "elections"|trans }}</h4>
                <ul>
    				{% for election in elections %}
    					<li><a href="{{ url("app_election", {"id": election.id}) }}">{{ election.name }}</a></li>
    				{% endfor %}
                </ul>
            {% endif %}
            
        	{% if departments|length > 0 %}
        		<h4>{{ "departments"|trans }}</h4>
                <ul>
    				{% for department in departments %}
    					<li><a href="{{ url("app_department", {"id": department.id}) }}">{{ department.name }}</a></li>
    				{% endfor %}
                </ul>
            {% endif %}
            
        	{% if cities|length > 0 %}
        		<h4>{{ "cities"|trans }}</h4>
                <ul>
    				{% for city in cities %}
    					<li><a href="{{ url("app_city", {"id": city.id}) }}">{{ city.name }}{% if city.artmin is not empty %} {{ city.artmin }}{% endif %} ({{ city.dep }})</a></li>
    				{% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    </div>
</div>	
{% endblock %}
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}